fastapi
uvicorn
torch>=1.13
torchvision
Pillow
pytesseract
opencv-python
fitz
numpy
re
scipy
transformers
label-studio
scikit-learn
lightgbm
pymupdf
pandas
label-studio
layoutlmv3
streamlit
networkx
matplotlib
pytesseract
tqdm